/*
 * Component: badge
\* =================================== */

.badge {
	padding: 1rem 2rem 1.0625rem 2rem;
	color: $primary-color;
	line-height: 1;
	border: 1px solid $primary-color;
}
.badge.unstress {
	color: $unstress-color;
	border-color: $unstress-color;
}
.badge.radius {
	@extend .button.radius;
}
.badge.tiny {
	@extend .button.tiny;
}