/* Color Variabes */
$suppl-color: 			#F2A200;
$unstress-color: 		#BBB;
$border-color: 			#CCC;
$panel-bg-color: 		#F5F5F5;
$panel-bg-color-hover: 	#f1f1f1;
$dark-bg-color: 		#333;
$body-color: 			#222;