/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Headings 1–6.
 */

$heading-size-1:  $base-font-size * 2.25;
$heading-size-2:  $base-font-size * 1.8;
$heading-size-3:  $base-font-size * 1.5;
$heading-size-4:  $base-font-size * 1.2;
$heading-size-5:  $base-font-size * 1;
$heading-size-6:  $base-font-size * 0.8;

h1 {
    @include inuit-font-size( $heading-size-1 );
}

h2 {
    @include inuit-font-size( $heading-size-2 );
}

h3 {
    @include inuit-font-size( $heading-size-3, 1.4 );
}

h4 {
    @include inuit-font-size( $heading-size-4 );
}

h5 {
    @include inuit-font-size( $heading-size-5 );
}

h6 {
    @include inuit-font-size( $heading-size-6 );
}
