@mixin anchortext {
	color: $color-anchor;
	border-bottom: 1px dotted $color-primary;
	&:hover {
		color: $color-suppl;
	}
}

a,
.a {
	@include anchortext;
	text-decoration: none;

	&--bodycolor {
		color: $color-body;
		&:hover {
			color: $color-body;
			background-color: rgba( $color-body, .1 );
		}
	}

	&--unstress {
		color: $color-unstress;
		&:hover {
			color: darken($color-unstress, 20%);
		}
	}

}

.a--unchanged {
	color: $color-body;
	&:hover {
		color: $color-body;
	}
}
