a {
	color: $color-primary;
	text-decoration: none;
	border-bottom: 1px dotted $color-primary;
	&:hover { color: $color-suppl; }
}

.a--bodycolor {
	color: $color-body;
	// &:hover { color: $color-primary; }
}