a {
	color: $primary-color;
	text-decoration: none;
	border-bottom: 1px dotted $primary-color;
	&:hover { color: $suppl-color; }
}

.a--bodycolor {
	color: $body-color;
	&:hover { color: $primary-color; }
}