/*------------------------------------*\
    #NODELIST
\*------------------------------------*/

/*
 * Settings
 */
$node:        30px;
$node--small: $node * 0.4;
$node--big:   $node * 2;
$node--hero:  $node * 4;

/*
 * Helper Includes
 */

%nodelist__icon {
	font-family: "foundation-icons";
	position: absolute;
	font-size: 20px;
	line-height: 1;
	@include v-center( 20px );
	left: 45px;
	color: $color-unstress;
}

/*
 * Standard Definitions
 */

/* === ul.nodelist === */
.nodelist {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

/* === ul li.nl__item === */
.nl__item {
	position: relative;

	border-radius: $base-border-radius;
	padding: $node/10;
}

/* === ul li article.nl__article === */
.nl__article {

	margin-left: 38px;
	padding: 4px;

	&__header {
	}

	&__title {
		font-weight: 200;
		margin: 0.3em 0;
		color: $color-body;

		.btn, .label {
			font-size: 1rem;
			line-height: 1.3;
			vertical-align: $base-font-size / 6;
		}

		@include media-query(palm) {
			font-size: 1.3em;
		}
	}

	&__meta {
		margin: 0;
		position: absolute;
		top: 0.2em;
		color: $color-unstress;
	}

	&__footer {
		margin-top: 0;
		font-size: 80%;
		color: $color-suppl;
	}


}

/* === ul li div.nl__node === */
$node-margin: $node/15;
$node-link:   2px;
.nl__node {

	position: absolute;
	@include width-height( $node );
	@include v-center( $node );

	div {
		position: absolute;
		margin-top: 0;
	}

	&__link {
		left: 50%;
		z-index: 1;
		margin-left: halve(-$node-link);
		border: halve($node-link) solid $color-border;
		height: 400%;
		top: 50%;

		.nl__item:nth-last-child(2) & {
			height: 200%;
		}
		.nl__item:last-child & {
			display: none;
		}
	}

	&__border {
		z-index: 2;
		@include grow;
		@include round;
		border: 1px solid $color-border;
		background-color: #fff;
		@include std-box-shadow;

		a &:hover {
			background-color: #f5f5f5;
		}
	}

	&__link-inner {
		left: 50%;
		z-index: 3;
	}

	&__inner {
		z-index: 4;
		@include grow;
		@include round;
		color: $color-border;
		text-align: center;
		font-size: gold-less( $node );
		line-height: $node;

		&:after {
			font-family: "foundation-icons";
			margin-left: 1px;
		}
	}

	&__progress {
		height: 100%;
		width: 0%;
		max-width: 100% !important;
		background-color: rgba( $color-success, .4 );
	}

	&__progress-text {
		width: 100%;
		font-size: 0.5em;
		color: $color-body;
	}

}





/**
 * Variations
 */

// mixins
@mixin nl__node__icon ( $icon, $color: false ) {
	&:after {
		content: $icon;
		@if ($color) {
			color: $color;
		}
	}
}

/* === ul.nodelist === */

/* nodelist displays the contents of a course,
	the individual elements are units */
.nodelist--course {
	.nl__item {

		transition: background-color .3s;
		&:hover {
			background-color: darken($color-panel-bg, 2%);
		}

		/* Seperation line between nodelist items */
		+ .nl__item:before {
			content: "";
			display: block;
			border-top: 1px solid $color-border;
			position: relative;
			top: -$node/10 + -$base-spacing-unit/2;
		}
	}
	.nl__article {
		margin-left: 80px;
	}

}

/* nodelist displays the contents of a unit,
	the individual elements are lessons, quizzes and headlines */
.nodelist--unit {
	.nl__item {
		margin-top: px-to-em( halve($inuit-base-spacing-unit) );
	}
}

/* nodelist displays the contents of a unit but inside a single lesson screen */
.nodelist--lesson {
	.nl__item {
		margin-top: px-to-em( quarter($inuit-base-spacing-unit) );
	}

	.nl__item--current {
		border: 1px solid $color-border;
		padding: $node/10 -  1px;
	}

	.nl__node__link {
		height: 300%;
	}
}


/* === ul li div.nl__node === */

/**
 * Nodelist Item Sizes
 * .nl__node--small
 * .nl__node--big
 * .nl__node--hero
 */

/* small node dot to unstress it's importance,
	used for headlines */
.nl__node--small {

	padding: halve($node - $node--small);

	.nl__node__border, {
		@include width-height( $node--small );
	}
	.nl__node__inner {
		display: none;
	}
}

/* bog node dot providing broader information,
	used to represent entire units */
$node-marging--big: $node--big/12;
$node-link--big:    12px;
.nl__node--big {
	@include width-height( $node--big );
	@include v-center( $node--big );
	@include media-query(lap-and-up) { margin-left: 10px; }

	.nl__node__link,
	.nl__node__link-inner {
		top: 50%;
		height: $base-font-size * 8;
		background-color: #fff;
		.nl__item:last-child & {
			display: none;
		}
	}
	.nl__node__link {
		margin-left: halve( -($node-link--big + 2px) );
		width: $node-link--big + 2px;
	}

	.nl__node__link-inner {
		margin-left: halve(-$node-link--big);
		width: $node-link--big;
		border: third($node-link--big) solid #fff;
	}
	.nl__node__border {
		box-shadow: 0 1px 1px rgba(0,0,0,.3) inset;
	}
	.nl__node__inner {
		@include width-height( px-to-percent( $node--big - double($node-marging--big), $node--big ) );
		margin: px-to-percent( $node-marging--big, $node--big );

		border: gold-less($node-marging--big) solid $color-border;
		background-color: #fff;

		font-size: halve($node--big);
		line-height: $node--big - double($node-marging--big) - double( gold-less($node-marging--big) );
		color: $color-border;
		font-weight: 200;
	}
}

/* same layout as the --big but magnified,
	used in the page-hero */
$node-marging--hero: $node--hero/12;
                     $node--hero-palm: gold-less( $node--hero );
.nl__item--hero {

	.nl__node {
		@include width-height( $node--hero );
		margin-top: halve(-$node--hero);
		margin-left: 0;
	}

	.nl__node__inner {
		border: gold-less($node-marging--hero) solid $color-border;
		font-size: halve($node--hero);
		line-height: $node--hero - double($node-marging--hero) - double( gold-less($node-marging--hero) );
		font-weight: bold;
	}

	@include media-query(palm) {
		.nl__node {
			@include width-height( $node--hero-palm );
			margin-top: halve(-$node--hero-palm);
		}

		.nl__node__inner {
			border: gold-less($node--hero-palm/12) solid $color-border;
			font-size: halve($node--hero-palm);
			line-height: $node--hero-palm - double($node--hero-palm/12) - double( gold-less($node--hero-palm/12) );
		}
	}
}

/**
 * Nodelist Item Types
 * # Unit Level
 *     .nl__item--unit
 *     .nl__item--exam
 *     .nl__item--hero
 *
 * # Item Level
 *     .nl__item--headline
 *     .nl__item--lesson
 *     .nl__item--quizz
 *     .nl__item--divider
 */

.nl__item--unit {
	&:not(.nl__item--hero) {
		.nl__article__header {
			padding-top: 1rem;
		}
	}
	.nl__node__inner {
		@include nl__node__icon ( "\f11d" );
	}
}

.nl__item--exam {
	.nl__node__inner {
		@include nl__node__icon ( "\f184" );
	}
}

/* this nodelist item represents a video lesson */
.nl__item--lesson {
	.nl__node__inner {
		@include nl__node__icon ( "\f20e" );
	}
}

/* this nodelist item represents a quizz */
.nl__item--quizz {
	.nl__node__inner {
		@include nl__node__icon ( "\f129" );
	}
}

/* a simple divider between list items, this item has no visible content */
.nl__item--divider {
	background-color: darken($color-panel-bg, 10%);
	padding: 1px;
	&:first-child { // make the first divider invisible (but not to screen readers, because it contains text)
		padding: 0;
	}
}

/* One prominent nodelist item in the header */
.nl__item--hero {

	.nl__article {

		margin-left: halve($node--hero);
		padding-left: halve($node--hero) + 20px;

		@include media-query(palm) {
			margin-left: halve($node--hero-palm);
			padding-left: halve($node--hero-palm) + 20px;
		}

		&__title {
			color: white;
			margin-top: 0;

			@include font-size( $heading-size-2 );
			// @include media-query(palm) { @include font-size( $heading-size-3 );	}
			font-weight: 700;

			.label {
				font-size: 0.8em;
				background-color: white;
				border: none;
			}
		}

		&__footer {
			display: inline-block;
			background-color: white;
			border-radius: $base-border-radius;
			padding: quarter($base-spacing-unit) halve($base-spacing-unit);
		}

	}
}

/**
 * Nodelist Item States
 * 0 => 'draft'
 * 1 => 'scheduled'
 * 2 => 'locked'
 * 3 => 'publish'
 * 4 => 'active'
 * 5 => 'success'
 */

// Disabled
.nl__item--draft {
	.nl__node__inner:after {
		content: "\f217";
	}
}

// Scheduled
.nl__item--coming {
	.nl__node__inner:after {
		content: "\f124";
	}
}

// Locked
.nl__item--locked {
	.nl__node__inner:after {
		content: "\f16a";
	}
}

// Public
.nl__item--publish {
	.nl__node__inner {
		color: $color-primary;
		border-color: $color-primary;
	}
}

// Active
.nl__item--active {
	:not(.nl__node--big) {
		.nl__node__border { border-color: $color-success; }
		.nl__node__inner { color: $color-success; }
	}
	.nl__node--big .nl__node__inner,
	.nl__node--hero .nl__node__inner {
		border-color: $color-success;
		overflow: hidden;
		@include nl__node__icon ( "" );
	}
	.nl__node--hero .nl__node__progress-text {
		font-size: double($base-font-size);
		font-weight: bold;
	}
}

// Success
.nl__item--success {
	:not(.nl__node--big) {
		.nl__node__link,
		.nl__node__border {
			border-color: $color-success;
		}
	}
	.nl__node__link-inner,
	.nl__node__inner {
		background-color: $color-success;
	}
	.nl__node__inner {
		border-color: $color-success;
		@include nl__node__icon ( "\f126", #fff );
	}
}
