/*------------------------------------*\
    #PAGE-FOOTER
\*------------------------------------*/
.page-footer {

	// footer cosmetics
	padding-bottom: px-to-rem($base-spacing-unit);
	background-color: $color-dark-bg;
	color: #ccc;
	
	// Maintain padding if breadcrumbs are missing
	> .wrapper:first-child {
		padding-top: px-to-rem($base-spacing-unit);
	}

}

// Stick the footer to the bottom with position: absolute
// .page-footer {
// 	position: absolute;
// 	width: 100%;
// 	bottom: 0;
// }
// .container {
// 	// give space to the footer
// 	padding-bottom: 260px;
// }