/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

$bc-padding:			quarter($base-spacing-unit) !default;

.breadcrumbs {

	background-color: $color-primary;

	&--full {
		
		padding: px-to-rem($base-spacing-unit) 0;
		
		border-top: 3px solid $color-primary;
		box-shadow: inset 0 6px 6px -6px rgba( 0, 0, 0, 0.5 );

	}

	&--inline {
		
		display: inline-block;

		@include media-query(palm) {
			display: block;
			text-align: center;
			margin-top: px-to-em($inuit-base-spacing-unit);
		}
	}

}

// List item styling
.crumb__item {

	border-bottom: 0;
	
	// Item sperator
	& + &:before {
		padding: 0 $base-spacing-unit/8;
		color: $color-unstress;
		content: "/\00a0";
	}

	&--current {
		cursor: default;
		color: $color-body;
	}
}