/*------------------------------------*\
    #NODELIST
\*------------------------------------*/

/*
 * Settings
 */
$size-node:			30px;
$size-node--small:	$size-node * 2/5;
$size-node--big:	$size-node * 2;
$size-node--bigger:	$size-node * 4;

/*
 * Helper Includes
 */

%nodelist__icon {
	font-family: "foundation-icons";
	position: absolute;
	font-size: 20px;
	line-height: 1;
	@include v-center( 20px );
	left: 45px;
	color: $color-unstress;
}

/*
 * Standard Definitions
 */

/* === ul.nodelist === */
.nodelist {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

/* === ul li.nl__item === */
.nl__item {
	position: relative;

	border-radius: $default-border-radius;
	padding: $size-node/10;
}

/* === ul li article.nl__article === */
.nl__article {
	
	margin-left: 38px;
	padding: 4px;
	
	// &:before {
	// 	@extend %nodelist__icon;
	// }

	&__header {

	}

	&__title {
		font-weight: 200;
		margin: 0.3em 0;
		color: $color-body;
	}

	&__meta {
		margin: 0;
		position: absolute;
		top: 0.2em;
		color: $color-unstress;
	}

	&__footer {
		margin: 0;
		p {
			margin: 0;
			font-size: 80%;
			color: $color-suppl;
		}
		.btn, .label { // I should make my own button class to avoid specificity wars
			@include absolute(false);
			right: 4px;
			bottom: 4px;
		}
	}


}

/* === ul li div.nl__node === */
$node-margin: $size-node/15;
.nl__node {

	position: absolute;
	@include width-height( $size-node );
	@include v-center( $size-node );

	> div {
		position: absolute;
		margin-top: 0;
	}

	&__link {
		left: 50%;
		z-index: 1;
		margin-left: -1px;
		border: 1px solid $color-border;
		height: 400%;
		top: 50%;
		
		.nl__item:nth-last-child(2) & {
			height: 200%;
		}
		.nl__item:last-child & {
			display: none;
		}
	}

	&__border {
		z-index: 2;
		@include grow;
		@include round;
		border: 1px solid $color-border;
		// padding: 3px;
		background-color: #fff;
		@include std-box-shadow;
		
		a &:hover {
			background-color: #f5f5f5;
		}
	}

	&__link-inner {
		left: 50%;
		z-index: 3;
	}

	&__inner {
		z-index: 4;
		@include grow;
		@include round;
		color: $color-border;
		text-align: center;
		font-size: 20px;
		line-height: $size-node;
		
		&:after {
			font-family: "foundation-icons";
			margin-left: 1px;
		}
	}

}





/**
 * Variations
 */

// mixins
@mixin nl__node__icon ( $icon, $color: false ) {
	&:after {
		content: $icon;
		@if ($color) {
			color: $color;
		}
	}
}

/* === ul.nodelist === */

/* nodelist displays the contents of a course,
	the individual elements are units */
.nodelist--course {
	.nl__item {
		@include panel;
		// color: $color-body;
		transition: background-color .3s;
		&:hover {
			background-color: darken($color-panel-bg, 2%);
		}
	}
	.nl__article {
		margin-left: 80px;
		&__header {
			padding-top: 1rem;
		}
	}

}

/* nodelist displays the contents of a unit,
	the individual elements are lessons, quizzes and headlines */
.nodelist--unit {
	.nl__item {
		margin-top: px-to-em( halve($inuit-base-spacing-unit) );
	}
}

/* nodelist displays the contents of a unit but inside a single lesson screen */
.nodelist--lesson {
	.nl__item {
		margin-top: px-to-em( quarter($inuit-base-spacing-unit) );
	}
	.nl__item--active {
		background-color: darken($color-panel-bg, 10%);
	}
	.nl__article__title {
		font-size: 100%;
	}
	.nl__node__link {
		height: 300%;
	}
}

// .nodelist--horizontal {
// 	text-align: justify;
// 	line-height: 0;
// 	font-size: 0;
// 	&:after {
// 		display: inline-block;
// 		position: relative;
// 		content: '';
// 		width: 100%;
// 		// Horizontal node2link
// 		border: 1px solid $color-border;
// 		bottom: 1rem;
// 		z-index: 1;
// 	}
// 	> li {
// 		display: inline-block;
// 		position: relative;
// 		z-index: 2;
// 		font-size: 1rem;
// 	}
// }

/* === ul li.nl__item === */

/* One prominent nodelist item in the header */
.nl__item--hero {

	.nl__article {

		background-color: rgba(0,0,0,$title-frame-alpha);
		border-radius: $default-border-radius;

		margin-left: $size-node--bigger/2;
		padding-left: $size-node--bigger/2 + 20px;
		// min-height: $size-node--bigger;
		
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.65);

		font-size: 1.3rem;
		@include media-query(palm) {
			font-size: 1.2rem;
		}

		&__title {
			color: #fff;
			margin: 0.2em 0;
			font-weight: 700;
			@include media-query(palm) {
				font-size: 1.5rem;
			}
		}

		&__meta {
			color: #fff;
		}

	}
}

/* this nodelist item is a headline */
// .nl__item--headline {
// }


/* === ul li div.nl__node === */

/* small node dot to unstress it's importance,
	used for headlines */
.nl__node--small {
	padding: ($size-node - $size-node--small) / 2;
	.nl__node__border, {
		@include width-height( $size-node--small );
	}
	.nl__node__inner {
		@include width-height( floor($size-node--small/2) );
		top: $size-node * 2/5;
		left: $size-node * 2/5;
		background-color: $color-border;
		&:after {
			display: none;
		}
	}
}

/* bog node dot providing broader information,
	used to represent entire units */
$node-marging--big: $size-node--big/12;
.nl__node--big {
	@include width-height( $size-node--big );
	@include v-center( $size-node--big );
	margin-left: 10px;
	.nl__node__link,
	.nl__node__link-inner {
		top: 50%;
		height: 200%;
		background-color: #fff;
		.nl__item:last-child & {
			display: none;
		}
	}
	.nl__node__link {
		margin-left: -7px;
		width: 14px;
	}
	.nl__node__link-inner {
		margin-left: -6px;
		width: 12px;
		border: 4px solid #fff;
	}
	.nl__node__border {
		box-shadow: 0 1px 1px rgba(0,0,0,.3) inset;
	}
	.nl__node__inner {
		@include width-height( $size-node--big - 10px );
		margin: $node-marging--big;
		border: $node-marging--big * 3/4 solid $color-border;
		background-color: #fff;
		font-size: $base-font-size * 2;
		line-height: $size-node--big - $node-marging--big * 3.5;
		color: $color-border;
	}
}

/* same layout as the --big but magnified,
	used in the page-hero */
$node-marging--bigger: $size-node--bigger/15;
.nl__node--bigger {
	@include width-height( $size-node--bigger );
	@include v-center( $size-node--bigger );
	.nl__node__border {
		border: none;
	}
	.nl__node__inner {
		@include width-height( $size-node--bigger - $node-marging--bigger*2 );
		margin: $node-marging--bigger;
		border: $node-marging--bigger * 3/4 solid $color-border;
		background-color: #fff;
		font-size: $base-font-size * 2;
		line-height: $size-node--bigger - $node-marging--bigger * 3.5;
		font-weight: bold;
	}
}

/* this nodelist item represents a video lesson */
.nl__item--lesson {
	.nl__node__inner {
		@include nl__node__icon ( "\f20e" );
	}
}

/* this nodelist item represents a quizz */
.nl__item--quizz {
	.nl__node__inner {
		@include nl__node__icon ( "\f129" );
	}
}

/* a simple divider between list items, this item has no visible content */
.nl__item--divider {
	background-color: darken($color-panel-bg, 10%);
	padding: 1px;

	&:first-child,
	> * {
		display: none;
	}
}

/*
 * Nodelist Item States
 * 0 => 'disabled'
 * 1 => 'scheduled'
 * 2 => 'locked'
 * 3 => 'public'
 * 4 => 'active'
 * 5 => 'success'
 */

// Disabled
.nl__item--disabled {
	.nl__node__inner:after {
		content: "\f217";
	}
}

// Scheduled
.nl__item--scheduled {
	.nl__node__inner:after {
		content: "\f124";
	}
}

// Locked
.nl__item--locked {
	.nl__node__inner:after {
		content: "\f16a";
	}
}

// Public
.nl__item--public {
	.nl__node__inner {
		color: $color-primary;
		border-color: $color-primary;
		&:after { content: "\f11d"; }
	}
}

// Active
.nl__item--active {
	:not(.nl__node--big) { 
		.nl__node__border { border-color: $color-success; }
		.nl__node__inner { color: $color-success; }
	}
	.nl__node--big .nl__node__inner,
	.nl__node--bigger .nl__node__inner {
		border-color: $color-success;
		overflow: hidden;
		color: $color-body;
		&:before {
			content:"";
			position: absolute;
			height: 100%;
			background-color: rgba( $color-success, .4 );
			left: 0;
		}
	}
	.nl__node--big .nl__node__inner {
		font-size: $base-font-size;
		font-weight: 200;
	}
}

// Success
.nl__item--success {
	:not(.nl__node--big) {
		.nl__node__link,
		.nl__node__border {	
			border-color: $color-success;
		}
	}
	.nl__node__link-inner,
	.nl__node__inner {
		background-color: $color-success;
	}
	.nl__node__inner {
		border-color: $color-success;
		@include nl__node__icon ( "\f126", #fff );
	}
	.nl__node--bigger .nl__node__inner:after {
		font-size: 4rem;
	}
}