/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

$breadcrumb-padding:			$base-spacing-unit/4 !default;

.breadcrumbs {

	background-color: $color-primary-light;

	&--full {

		padding: px-to-rem($base-spacing-unit) 0;

		border-top: 1px solid $color-border;
		background: $color-panel-bg;

	}

	&--inline {

		display: inline-block;

		@include media-query(palm) {
			display: block;
			text-align: center;
			margin-top: px-to-em($inuit-base-spacing-unit);
		}
	}

}

// List item styling
.crumb__item {

	// Item sperator
	& + &:before {
		padding-left: $breadcrumb-padding;
		color: $color-unstress;
		content: "/\00a0";
	}
}
