/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

$branding-font-size: 26px;

/*
 * [1] avoid strange hights on logo parent elements
 * [2] optically vertically center logo and text (middle doesn't do it just right)
 */
.branding {

	display: inline-block; /* [1] */

	@include font-size( $branding-font-size );
	color: $color-body;
	border-bottom: none;

	&__logo {
		@include rem( "height", double($branding-font-size) );
		@include rem( "vertical-align", ( -$branding-font-size * 5 ) / 8 /* [2] */ );
	}

	&__text {

	}

}
