/*------------------------------------*\
    #MESSAGE
\*------------------------------------*/

$message-padding: halve($base-spacing-unit);

.message {
	position: relative;

	border: 1px solid $color-border;
	border-radius: $base-border-radius;

	&--shadow {
		box-shadow: 0 1px 2px rgba(0,0,0,.15);
	}

	&__header {

		&--border {
			border-bottom: 1px solid $color-border;
		}

		&__item {
			vertical-align: middle;
			margin-right: halve($message-padding);
		}

		.message__unread {
			font-size: 80%;
		}
	}

	&__avatar {
		border-bottom-right-radius: $base-border-radius;
	}

	&__name {
		font-weight: bold;
	}

	&__heading {
		@include inuit-font-size( $heading-size-4, 2 );
		padding-left: $message-padding;
	}

	&__date {
		color: $color-unstress;
	}

	&__edit {
		visibility: hidden;
		float: right;
		margin-top: halve($message-padding);
	}

	&__content {
		padding: $message-padding;
	}

	&__footer {
		border-top: 1px solid $color-border;
		background: rgba(0,0,0,.03);

		font-size: 80%;

		// Style reset for buttons
		> button {
			background-color: transparent;
			&:hover {
				box-shadow: 0 0 80px rgba(0,0,0,.03) inset;
			}
		}

		// unified padding and border for children
		&__item {
			display: inline-block;
			padding: halve($message-padding) $message-padding;
			border: none;
			border-right: 1px solid $color-border;
		}

		.message__unread {
			background-color: transparentize($color-success, 0.1) !important;
			color: white;
			font-weight: bold;
			&:hover {
				background-color: transparentize($color-success, 0) !important;
			}
		}
	}

	&__reply, &__expand {
		color: $color-anchor;
	}

	&__read {
		color: $color-success;
	}

	&__expand {
		float: right;
		border-left: 1px solid $color-border;
		border-right: 0;
	}

	&:hover {
		.message__edit {
			visibility: visible;
		}
	}
}

.message--compact {

}

.message--excerpt {
	&:hover {
		background-color: $color-hover-bg;
		// box-shadow: 0 0 60px rgba(0,0,0,.03) inset;
	}
}
