/*------------------------------------*\
    #NODELIST
\*------------------------------------*/
/*
 * Nodelist Markup:
 * .nodelist
 *   .node
 *     .node__inner
 *       .node__header
 *         .node__title
 *         .node__meta
 *       .node__footer
 *     .node__dot
 *       .node__dot__connector
 *       .node__dot__border
 *       .node__dot__connector-inner
 *       .node__dot__inner
 *
 * Nodelist Item variations of type:
 *   .node--unit
 *   .node--exam
 *   .node--lesson
 *   .node--quizz
 *   .node--divider
 *   .node--hero
 *
 * Nodelist Item variations of status:
 *   .node--draft
 *   .node--coming
 *   .node--locked
 *   .node--publish
 *   .node--active
 *   .node--success
 */

/*
 * Settings
 */
$node:        30px;
$node--small: $node * .4;
$node--big:   $node * 2;
$node--hero:  $node * 4;

/*
 * Helper Includes
 */

%nodelist__icon {
	@include v-center(20px);
	color: $color-unstress;
	font-family: 'foundation-icons';
	font-size: 20px;
	left: 45px;
	line-height: 1;
	position: absolute;
}

/*
 * Mixins
 */
@mixin node-icon ($icon, $color: false) {
	&::after {
		content: $icon;
		@if ($color) {
			color: $color;
		}
	}
}

/*
 * Standard Definitions
 */

/* === .nodelist === */
.nodelist {
	margin-left: 0;
	padding-left: 0;
}

/* === .node === */
$node-padding:          $node / 10;

.node {
	border-radius: $base-border-radius;
	list-style: none;
	padding: $node-padding;
	position: relative;

	// CHILDREN //

	&__inner {
		margin-left: 38px;
		padding: 4px;
	}

	// &__header {
	// }

	&__title {
		color: $color-body;
		font-weight: 200;
		margin: .3em 0;

		@include media-query(palm) {
			font-size: 1.3em;
		}

		.btn,
		.label {
			font-size: 1rem;
			line-height: 1.3;
			vertical-align: $base-font-size / 6;
		}
	}

	&__meta {
		color: $color-unstress;
		margin: 0;
		position: absolute;
		top: .2em;
	}

	&__footer {
		color: $color-suppl;
		font-size: 80%;
		margin-top: 0;
	}

	// VARIATIONS //

	&--unit {
		transition: background-color .3s;

		&:hover {
			background-color: darken($color-panel-bg, 2%);
		}

		/* Seperation line between nodelist items */
		+ .node::before {
			border-top: 1px solid $color-border;
			content: '';
			display: block;
			position: relative;
			top: -($node-padding + $owl--narrow);
		}

		.node__inner {
			margin-left: 80px;
		}

		&:not(.node--hero) {
			.node__header {
				padding-top: 1rem;
			}
		}
	}

	&--hero {
		.node__footer {
		    background-color: white;
		    border-radius: 3px;
		    display: inline-block;
		    padding: 6px 12px;
		}
	}
}

/* === ul li div.node__dot === */
$node-connector-margin:      $node / 15;
$node-connector-margin--big: $node--big / 12;

$node-connector:             2px;
$node-connector--big:        12px;

.node__dot {

	@include width-height($node);
	@include v-center($node);
	position: absolute;

	div {
		margin-top: 0;
		position: absolute;
	}

	// CHILDREN //

	&__connector,
	&__connector-inner {
		.node:last-of-type & {
			display: none;
		}
	}

	&__connector {
		border: halve($node-connector) solid $color-border;
		height: 400%;
		left: 50%;
		margin-left: halve(-$node-connector);
		top: 50%;
		z-index: 1;

		.node:nth-last-of-type(2) & {
			height: 200%;
		}

	}

	&__border {
		@include grow;
		@include round;
		@include std-box-shadow;

		background-color: #fff;
		border: 1px solid $color-border;
		z-index: 2;

		a &:hover {
			background-color: #f5f5f5;
		}
	}

	&__connector-inner {
		left: 50%;
		z-index: 3;
	}

	&__inner {
		z-index: 4;
		@include grow;
		@include round;
		color: $color-border;
		text-align: center;
		font-size: gold-less($node);
		line-height: $node;

		&:after {
			font-family: "foundation-icons";
			margin-left: 1px;
		}
	}

	&__progress {
		height: 100%;
		width: 0%;
		max-width: 100% !important;
		background-color: rgba($color-success, .4);
	}

	&__progress-text {
		width: 100%;
		font-size: 0.5em;
		color: $color-body;
	}

	// VARIATIONS //

	// small dot to unstress it's importance,
	// used for headlines
	&--small {

		padding: halve($node - $node--small);

		.node__dot__border, {
			@include width-height($node--small);
		}

		.node__dot__inner {
			display: none;
		}
	}


	// big dot providing broader information,
	// used to represent entire units
	.node--unit & {
		@include width-height($node--big);
		@include v-center($node--big);
		@include media-query(lap-and-up) { margin-left: 10px; }

		&__connector,
		&__connector-inner {
			background-color: #fff;
			height: $base-font-size * 8;
			top: 50%;
		}

		&__connector {
			margin-left: halve(-($node-connector--big + 2px));
			width: $node-connector--big + 2px;
		}

		&__connector-inner {
			border: third($node-connector--big) solid #fff;
			margin-left: halve(-$node-connector--big);
			width: $node-connector--big;
		}

		&__border {
			box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
		}

		&__inner {
			@include node-icon ("\f11d");
			@include width-height(px-to-percent($node--big - double($node-connector-margin--big), $node--big));
			background-color: #fff;
			border: gold-less($node-connector-margin--big) solid $color-border;
			color: $color-border;
			font-size: halve($node--big);
			font-weight: 200;
			line-height: $node--big - double($node-connector-margin--big) - double(gold-less($node-connector-margin--big));
			margin: px-to-percent($node-connector-margin--big, $node--big);
		}
	}


	// Active unit nodes with a progress bar
	.node--active & {

		&__inner {
			border-color: #02944b;
			overflow: hidden;

			&::after {
				display: none;
			}
		}
	}


	// same layout as the node--big but magnified,
	// used in the page-hero
	$node-marging--hero: $node--hero / 12;
	$node--hero-palm: gold-less($node--hero);

	.node--hero & {

		@include width-height($node--hero);
		margin-left: 0;
		margin-top: halve(-$node--hero);

		@include media-query(palm) {
			@include width-height($node--hero-palm);
			margin-top: halve(-$node--hero-palm);

			&__inner {
				border: gold-less($node--hero-palm / 12) solid $color-border;
				font-size: halve($node--hero-palm);
				line-height: $node--hero-palm - double($node--hero-palm / 12) - double(gold-less($node--hero-palm / 12));
			}
		}

		&__inner {
			border: gold-less($node-marging--hero) solid $color-border;
			font-size: halve($node--hero);
			font-weight: bold;
			line-height: $node--hero - double($node-marging--hero) - double(gold-less($node-marging--hero));
		}
	}

}












/**
 * Variations
 */

// mixins
@mixin node-icon ($icon, $color: false) {
	&::after {
		content: $icon;
		@if ($color) {
			color: $color;
		}
	}
}

/* === ul.nodelist === */

/* nodelist displays the contents of a course,
	the individual elements are units */
.nodelist--course {
	.node {

		transition: background-color .3s;
		&:hover {
			background-color: darken($color-panel-bg, 2%);
		}

		/* Seperation line between nodelist items */
		+ .node:before {
			content: '';
			display: block;
			border-top: 1px solid $color-border;
			position: relative;
			top: -$node / 10 + -$base-spacing-unit / 2;
		}
	}
	.node__inner {
		margin-left: 80px;
	}

}

/* nodelist displays the contents of a unit,
	the individual elements are lessons, quizzes and headlines */
.nodelist--unit {
	.node {
		margin-top: px-to-em(halve($inuit-base-spacing-unit));
	}
}

/* nodelist displays the contents of a unit but inside a single lesson screen */
.nodelist--lesson {
	.node {
		margin-top: px-to-em(quarter($inuit-base-spacing-unit));
	}

	.node--current {
		border: 1px solid $color-border;
		padding: $node/10 -  1px;
	}

	.node__dot__connector {
		height: 300%;
	}
}


/* === ul li div.node__dot === */

/**
 * Nodelist Item Sizes
 * .node__dot--small
 * .node__dot--big
 * .node__dot--hero
 */

/* small node dot to unstress it's importance,
	used for headlines */
// .node__dot--small {

// 	padding: halve($node - $node--small);

// 	.node__dot__border, {
// 		@include width-height( $node--small );
// 	}
// 	.node__dot__inner {
// 		display: none;
// 	}
// }

/* bog node dot providing broader information,
	used to represent entire units */
// $node-connector-margin--big: $node--big/12;
// $node-connector--big:    12px;
// .node__dot--big {
// 	@include width-height( $node--big );
// 	@include v-center( $node--big );
// 	@include media-query(lap-and-up) { margin-left: 10px; }

// 	.node__dot__connector,
// 	.node__dot__connector-inner {
// 		top: 50%;
// 		height: $base-font-size * 8;
// 		background-color: #fff;
// 		.node:last-of-type & {
// 			display: none;
// 		}
// 	}
// 	.node__dot__connector {
// 		margin-left: halve( -($node-connector--big + 2px) );
// 		width: $node-connector--big + 2px;
// 	}

// 	.node__dot__connector-inner {
// 		margin-left: halve(-$node-connector--big);
// 		width: $node-connector--big;
// 		border: third($node-connector--big) solid #fff;
// 	}
// 	.node__dot__border {
// 		box-shadow: 0 1px 1px rgba(0,0,0,.3) inset;
// 	}
// 	.node__dot__inner {
// 		@include width-height( px-to-percent( $node--big - double($node-connector-margin--big), $node--big ) );
// 		margin: px-to-percent( $node-connector-margin--big, $node--big );

// 		border: gold-less($node-connector-margin--big) solid $color-border;
// 		background-color: #fff;

// 		font-size: halve($node--big);
// 		line-height: $node--big - double($node-connector-margin--big) - double( gold-less($node-connector-margin--big) );
// 		color: $color-border;
// 		font-weight: 200;
// 	}
// }

/* same layout as the --big but magnified,
	used in the page-hero */
// $node-marging--hero: $node--hero/12;
//                      $node--hero-palm: gold-less( $node--hero );
// .node--hero {

// 	.node__dot {
// 		@include width-height( $node--hero );
// 		margin-top: halve(-$node--hero);
// 		margin-left: 0;
// 	}

// 	.node__dot__inner {
// 		border: gold-less($node-marging--hero) solid $color-border;
// 		font-size: halve($node--hero);
// 		line-height: $node--hero - double($node-marging--hero) - double( gold-less($node-marging--hero) );
// 		font-weight: bold;
// 	}

// 	@include media-query(palm) {
// 		.node__dot {
// 			@include width-height( $node--hero-palm );
// 			margin-top: halve(-$node--hero-palm);
// 		}

// 		.node__dot__inner {
// 			border: gold-less($node--hero-palm/12) solid $color-border;
// 			font-size: halve($node--hero-palm);
// 			line-height: $node--hero-palm - double($node--hero-palm/12) - double( gold-less($node--hero-palm/12) );
// 		}
// 	}
// }

/**
 * Nodelist Item Types
 * # Unit Level
 *     .node--unit
 *     .node--exam
 *     .node--hero
 *
 * # Item Level
 *     .node--headline
 *     .node--lesson
 *     .node--quizz
 *     .node--divider
 */

// .node--unit {
// 	&:not(.node--hero) {
// 		.node__header {
// 			padding-top: 1rem;
// 		}
// 	}
// 	.node__dot__inner {
// 		@include node-icon ( "\f11d" );
// 	}
// }

.node--exam {
	.node__dot__inner {
		@include node-icon ( "\f184" );
	}
}

/* this nodelist item represents a video lesson */
.node--lesson {
	.node__dot__inner {
		@include node-icon ( "\f20e" );
	}
}

/* this nodelist item represents a quizz */
.node--quizz {
	.node__dot__inner {
		@include node-icon ( "\f129" );
	}
}

/* a simple divider between list items, this item has no visible content */
.node--divider {
	background-color: darken($color-panel-bg, 10%);
	padding: 1px;
	&:first-child { // make the first divider invisible (but not to screen readers, because it contains text)
		padding: 0;
	}
}

/* One prominent nodelist item in the header */
.node--hero {

	.node__inner {

		margin-left: halve($node--hero);
		padding-left: halve($node--hero) + 20px;

		$node--hero-palm: gold-less($node--hero);
		@include media-query(palm) {
			margin-left: halve($node--hero-palm);
			padding-left: halve($node--hero-palm) + 20px;
		}

		&__title {
			color: white;
			margin-top: 0;

			@include font-size( $heading-size-2 );
			// @include media-query(palm) { @include font-size( $heading-size-3 );	}
			font-weight: 700;

			.label {
				font-size: 0.8em;
				background-color: white;
				border: none;
			}
		}

		&__footer {
			display: inline-block;
			background-color: white;
			border-radius: $base-border-radius;
			padding: quarter($base-spacing-unit) halve($base-spacing-unit);
		}

	}
}

/**
 * Nodelist Item States
 * 0 => 'draft'
 * 1 => 'scheduled'
 * 2 => 'locked'
 * 3 => 'publish'
 * 4 => 'active'
 * 5 => 'success'
 */

// Disabled
.node--draft {
	.node__dot__inner:after {
		content: "\f217";
	}
}

// Scheduled
.node--coming {
	.node__dot__inner:after {
		content: "\f124";
	}
}

// Locked
.node--locked {
	.node__dot__inner:after {
		content: "\f16a";
	}
}

// Public
.node--publish {
	.node__dot__inner {
		color: $color-primary;
		border-color: $color-primary;
	}
}

// Active
.node--active {
	:not(.node__dot--big) {
		.node__dot__border { border-color: $color-success; }
		.node__dot__inner { color: $color-success; }
	}
	.node__dot--big .node__dot__inner,
	.node__dot--hero .node__dot__inner {
		border-color: $color-success;
		overflow: hidden;
		@include node-icon ( "" );
	}
	.node__dot--hero .node__dot__progress-text {
		font-size: double($base-font-size);
		font-weight: bold;
	}
}

// Success
.node--success {
	:not(.node__dot--big) {
		.node__dot__connector,
		.node__dot__border {
			border-color: $color-success;
		}
	}
	.node__dot__connector-inner,
	.node__dot__inner {
		background-color: $color-success;
	}
	.node__dot__inner {
		border-color: $color-success;
		@include node-icon ( "\f126", #fff );
	}
}
