/*------------------------------------*\
    #PAGE-FOOTER
\*------------------------------------*/
.page-footer {
	padding-bottom: px-to-rem($base-spacing-unit);
	background-color: $color-dark-bg;
	color: #ccc;
	
	// Maintain padding if breadcrumbs are missing
	> .wrapper:first-child {
		padding-top: px-to-rem($base-spacing-unit);
	}

}