/*------------------------------------*\
    #PROGRESS BAR
\*------------------------------------*/

.progress {
	border: 1px solid $color-border;
	padding: 0.125rem;
	border-radius: $default-border-radius;
}

.progress__meter {
	color: #fff;
	font-size: 80%;
	background: $color-success;
	display: block;
	// height: 100%;
	max-width: 100% !important;
	border-radius: $default-border-radius - 1px;
	width: 0%;
	text-align: center;
	text-shadow: 0 1px 0 darken( $color-success, 25% );
}