/*------------------------------------*\
    #TOP-BAR
\*------------------------------------*/

/*
 * Settings
 */
$top-bar-height:		52px;
$top-bar-avatar-size:	36px;

/*
 * Helper Silent Extensions
 */
%top-bar-location-setup {
	position: relative;
	display: inline-block;
	list-style: none;
}
%vertical-padding-reset {
	padding-left: 0;
	padding-right: 0;
}

/*
 * Standard Definitions
 */
.top-bar {
	position: relative;
	z-index: 99;

	height: $top-bar-height;
	font-size: $base-font-size;
	background-color: #fff;

	&__left {
		@extend %top-bar-location-setup;
		z-index: 2;
		// @include media-query( palm ) {
		// 	position: absolute;
		// 	width: 100%;
		// }
	}

	&__center {
		@extend %top-bar-location-setup;
		z-index: 1;
		@include media-query( palm ) {
			position: absolute;
			width: 100%;
			text-align: center;
		}
	}

	&__right {
		@extend %top-bar-location-setup;
		z-index: 3;
		float: right;
	}

	&__item {
		display: inline-block;
		padding: 0 12px;

		line-height: $top-bar-height;

		a {
			vertical-align: middle;
			border-bottom-width: 0;

			padding: $inuit-btn-padding--small double($inuit-btn-padding--small);
		}
	}

	> ul {
		padding-left: 0;
	}

}

/* the username and user avatar */
.top-bar__item--avatar {

	.tb__avatar__link {
		display: inline-block;
		line-height: 0;
		@extend %vertical-padding-reset;

		&:hover > .avatar {
			box-shadow: 0 0 3px $color-suppl;
		}
	}

	.tb__avatar__name {
		line-height: $top-bar-avatar-size;
		vertical-align: bottom;

		@include media-query( palm ) {
			display: none;
		}
	}

	.avatar {
		border-radius: $base-border-radius;
	}

	&:hover, &.flyoutActive {
		background-color: $color-hover-bg;
	}
}

/**
 * The user menu
 * Mobile users will be presented with the flyout
 * Desktop users will see a dropdown
 */

/* Mobile */
.top-bar__user-menu {
	display: none;
}

/* Desktop */
@include media-query(desk) {
	.top-bar__user-menu {
		position: absolute;
		z-index: 999;
		right: halve($base-spacing-unit);

		display: none;
		padding: $base-spacing-unit;

		background-color: $color-hover-bg;
		box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.15);

		.top-bar__item--avatar:hover & {
			display: block;
		}

	}
}


/* any item that is a simple link */
.top-bar__item--link > a {
		@extend %vertical-padding-reset;
}

/* the menu icon
	only shows up for lap-and-up */
.top-bar__item--button {
	.btn {
		font-weight: 600;
		line-height: 1.2;

		border-width: 1px;
	}
}

#menu-button,
#flyout-button {
	// &:hover {
	// 	&:after {
	// 		box-shadow: 0 0 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
	// 	}
	// }

	&:after {
		// content: "\f169";
		// font-family: "foundation-icons";
		content: "";
		display: inline-block;
		box-shadow: 0 0 0 1px $inuit-btn-color, 0 7px 0 1px $inuit-btn-color, 0 14px 0 1px $inuit-btn-color;
		width: $base-font-size;
		margin: 0 0 0.75em 0.6rem;
	}
}
