/*------------------------------------*\
    #TOP-BAR
\*------------------------------------*/

/*
 * Settings
 */
$top-bar-height:		52px;
$top-bar-avatar-size:	36px;


/*
 * Standard Definitions
 */

.top-bar {
	height: $top-bar-height;
	font-size: $base-font-size;
	background-color: #fff;

	&__left {
		@extend %top-bar-location-setup;
	}

	&__center {
		@extend %top-bar-location-setup;
	}

	&__right {
		@extend %top-bar-location-setup;
		float: right;
	}

	&__item {
		display: inline-block;
		padding: 0 12px;

		line-height: $top-bar-height - 0.1px;
		// line-height: px-to-rem( $top-bar-height - 0.1px );

		a {
			display: inline;
			vertical-align: middle;
			border-bottom-width: 0;

			padding: $inuit-btn-padding--small double($inuit-btn-padding--small);
		}
	}

}

/*
 * Variations
 */

/* the top-bar stays on top of the page-hero with transparent background */
.top-bar--overlay {
	position: absolute;
	width: 100%;
	background-color: transparent;

	.top-bar__item--title {
		display: none;
	}
}

/* the page title,
	has a greater size */
.tb__title {

	&__link {
		font-size: halve($top-bar-height);
		color: $color-body;
	}

	&__logo {
		height: $top-bar-height;
		vertical-align: middle;
	}

	&__text {
		@include media-query( palm ) {
			display: none;
		}
	}
}

/* the username and user avatar */
.top-bar__item--avatar {

	.tb__avatar__link {
		display: inline-block;
		line-height: 0;
		@extend %vertical-padding-reset;

		// TEMPORARY
		cursor: default;

		&:hover {
			.avatar {
				box-shadow: 0 0 3px $color-suppl;
			}
		}

	}

	.tb__avatar__name {
		line-height: $top-bar-avatar-size;
		vertical-align: bottom;

		@include media-query( palm ) {
			display: none;
		}
	}

	.avatar {
		border-radius: $base-border-radius;
	}
}

/* any item that is a simple link */
.top-bar__item--link {
	a {
		@extend %vertical-padding-reset;
	}
}

/* the menu icon
	only shows up for lap-and-up */
.top-bar__item--button {
	.btn {
		font-weight: 600;
		line-height: 1.2;

		border-width: 1px;
	}
}

#menu-button,
#flyout-button {
	// &:hover {
	// 	&:after {
	// 		box-shadow: 0 0 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
	// 	}
	// }

	&:after {
		// content: "\f169";
		// font-family: "foundation-icons";
		content: "";
		display: inline-block;
		box-shadow: 0 0 0 1px $inuit-btn-color, 0 7px 0 1px $inuit-btn-color, 0 14px 0 1px $inuit-btn-color;
		width: $base-font-size;
		margin: 0 0 0.75em 0.6rem;
	}
}

/*
 * Helper Silent Extensions
 */
%top-bar-location-setup {
	display: inline-block;
	list-style: none;
}
%vertical-padding-reset {
	padding-left: 0;
	padding-right: 0;
}




