.embed {
	height: 0;
	overflow: hidden;
	padding-bottom: 67.5%;
	padding-top: 1.5625rem;
	position: relative;

	background: black url('../img/video-widescreen.jpg') center/cover no-repeat;

	&--16\:9 {
		padding-bottom: 56.34%;
	}
}