/*------------------------------------*\
    #PAGE-HERO
\*------------------------------------*/

.page-hero {

	// > .wrapper {
	// 	margin-top: 0;
	// 	padding-top: 10%;
	// 	padding-bottom: 10%;
	// }
	// &--skinny > .wrapper {
	// 	padding-top: 6%;
	// 	padding-bottom: 6%;
	// }

	margin-top: 0;

	background-color: #ccc;
	background-image: url("../img/course-header-placeholder.jpg");
	background-position: center;
	background-size: cover;

	color: #fff;
}

.hero-frame {

	// done now via class shadow--strong-text ... it would otherwise give a shaddow to the label
	// text-shadow: 0 1px 3px rgba( 0, 0, 0, .65 ), 0 0 30px #000;

	&__title,
	&__subtitle {
		margin: 0;
	}

	&__subtitle {
		font-weight: 200;
	}

	&__hr {
		border-color: #fff;
		width: 60%;
		box-shadow: 0 1px 3px rgba(0, 0, 0, .65);
	}
}

/**
 * Variations
 */
.hero-frame--box {
	max-width: 46rem;
	margin: 0 auto;
	text-align: center;
	background-color: rgba( 0, 0, 0, $title-frame-alpha );
	border-radius: $base-border-radius;
	padding: px-to-rem(halve($base-spacing-unit)) px-to-rem($base-spacing-unit);
}

$hero-badge-border:	       6px;
$hero-badge-size:	       160px + double($hero-badge-border);
$hero-badge-border--touch: 3px;
$hero-badge-size--touch:   100px + double($hero-badge-border);
.hero-frame--course {

	position: relative;
	padding-left: $hero-badge-size + $base-spacing-unit;

	.hero-frame__badge {
		background-color: rgba( 0, 0, 0, $title-frame-alpha );
		border-radius: 50%;
		padding: $hero-badge-border;
		line-height: 0;
		@include absolute;
		left: 0;
		@include v-center( $hero-badge-size );

		img {
			width: $hero-badge-size - double( $hero-badge-border );
		}
	}

	@include media-query(palm) {
		padding-left: $hero-badge-size--touch + $base-spacing-unit;
		.hero-frame__badge {
			@include v-center( $hero-badge-size--touch );

			img {
				width: $hero-badge-size--touch - double( $hero-badge-border--touch );
			}
		}
	}

}


