/*------------------------------------*\
    #USER-MENU
\*------------------------------------*/

/**
 * Common styling for the User Menu
 */
.user-menu {
	position: relative;
	list-style: none;
	line-height: 1.5;
	padding-left: 0;

	&__item {
		text-align: center;
		a {
			display: block;
			border-bottom: none;
			padding: quarter($base-spacing-unit);
		}
		a.active {
			border-left: 3px $color-success solid;
		}
	}

	&__item:not(:last-child) {
		border-bottom: 1px solid $color-border;
	}

	&__identity {
		.user-menu__name {
			font-weight: bold;
		}
		.avatar {
			border-radius: $base-border-radius;
		}
	}

	&.panel {
		padding-top: $base-spacing-unit;
	}

}

/**
 * User Menu in the flyout
 * for touch devices
 */
.user-menu--flyout {

	.user-menu__item a {
		line-height: 3rem;
	}

	.user-menu__identity {
		padding-bottom: $base-spacing-unit;
		.user-menu__name {
			font-size: 1.2;
		}
	}

}


/**
 * User Menu in the dropdown
 * for mouse pointer devices
 * revealed when hovering the user avatar
 */
.user-menu--dropdown {

	@include rem( "width", $base-spacing-unit * 10 );

	.user-menu__item {
		margin-left: 72px;
	}

	.user-menu__identity {
		padding: quarter($base-spacing-unit);
		.avatar {
			position: absolute;
			top: 0;
			left: 0;
			width: 60px;
			height: 60px;
		}
	}

}
