/*------------------------------------*\
    #PAGE-FOOTER
\*------------------------------------*/
.page-footer {

	// stick footer to the bottom of the page
	position: absolute;
	width: 100%;
	bottom: 0;

	// footer cosmetics
	padding-bottom: px-to-rem($base-spacing-unit);
	background-color: $color-dark-bg;
	color: #ccc;
	
	// Maintain padding if breadcrumbs are missing
	> .wrapper:first-child {
		padding-top: px-to-rem($base-spacing-unit);
	}

}