/*------------------------------------*\
    #OWL
\*------------------------------------*/

/**
 * The owl, adding margin-top to every element that follows another element
 * http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */
* + * {
	margin-top: px-to-em($base-spacing-unit);
}

.owl--narrow * + * {
	margin-top: px-to-em( halve($base-spacing-unit) );
}

.owl--off * + * {
	margin-top: 0;
}