/*------------------------------------*\
    #OWL
\*------------------------------------*/

/**
 * The owl, adding margin-top to every element that follows another element
 * http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */
* + * {
	margin-top: px-to-em($base-spacing-unit);
}

// All children will have an owl with only halve the margin
.owl--narrow * + * {
	margin-top: px-to-em( halve($base-spacing-unit) );
}

// Turn owl off for all levels of children
.owl--offall {

	* + * {
		margin-top: 0;
	}


	&-desk * + * {
		@include media-query( desk ) {
			margin-top: 0;
		}
	}
}

// Turn owl off for one level of children
.owl--offone {
	> * {
		margin-top: 0;
	}

	&-lap-and-up > * {
		@include media-query( lap-and-up ) {
			margin-top: 0;
		}
	}
}

// Turn owl off for this element
.no-owl {

	margin-top: 0;

	&-desk {
		@include media-query( desk ) {
			margin-top: 0;
		}
	}
	&-lap-and-up {
		@include media-query( lap-and-up ) {
			margin-top: 0;
		}
	}
}

