/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/**
 * Extending InuitCSS btn object
 */
$btn-padding:			$inuit-btn-padding;
$btn-padding--tiny:  	quarter($btn-padding);
$btn-border-width:		$inuit-btn-border-width;
$btn-border-bottom-width: 0px;

.btn {
	&:hover {
		box-shadow: 0 0 20px 20px rgba(0,0,0,.20) inset;
	}
}

/**
 * Color Variations
 */
%btn-3d {
	color: #fff;
	box-shadow: 0 -15px 30px rgba(0,0,0,.15) inset;
	&:hover {
		color: #fff;
		box-shadow: 0 -15px 30px rgba(0,0,0,.30) inset;
	}
}

@mixin btn-color( $color, $darken: 10% ) {
	background-color: $color;
	border-color: darken( $color, $darken );
}

.btn {

	// &--theme,
	// &--primary,
	// &--second,
	// &--success,
	// &--unstress,
	// &--dark {
	// 	@extend %btn-3d;
	// }

	&--primary 	{ 	@include btn-color( $color-primary ); }
	&--suppl 	{ 	@include btn-color( $color-suppl ); }
	&--success 	{	@include btn-color( $color-success ); }
	&--gray 	{	@include btn-color( $color-unstress ); }
	&--unstress {	@include btn-color( lighten($color-unstress, 10%) ); }
	&--dark 	{
		@include btn-color( lighten( $color-body, 20% ), 30% );
		&:hover {
			background-color: $color-body;
		}
	}
	&--white	{
		@include btn-color( #fff, 80% );
		color: $color-body;
		&:hover {
			box-shadow: 0 0 20px 20px rgba(0,0,0,.05) inset;
			color: $color-body;
		}
	}
}

/**
 * Additional Sizes
 */
.btn {
	&--tiny {
		padding: 1px - $btn-border-width  quadruple($btn-padding--tiny) - $btn-border-width 1px - $btn-border-width - $btn-border-bottom-width;
	}
}

/**
 * Disabled State
 */
.btn[disabled] {
	opacity: .6;
	pointer-events: none;
	cursor: not-allowed;
	&:hover {
		box-shadow: none;
	}
}