/*------------------------------------*\
    #PANEL
\*------------------------------------*/

@mixin panel( $border-width: 1px, $border-color: $color-border, $shadow: true ) {
	background-color: $color-panel-bg;
	border: $border-width solid $border-color;
	@if($inuit-btn-radius != 0) {
	    border-radius: $inuit-btn-radius;
	}
	@if($shadow) {
		@include std-box-shadow;
	}
}
.panel {
	@include panel;
	padding: quarter($base-spacing-unit) halve($base-spacing-unit);
	padding: px-to-rem( quarter($base-spacing-unit) ) px-to-rem( halve($base-spacing-unit) );
}