/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/**
 * Extending InuitCSS btn object
 */
$btn-padding:			$inuit-btn-padding;
$btn-padding--small:    halve($btn-padding);
$btn-padding--tiny:  	quarter($btn-padding);
$btn-border-width:		$inuit-btn-border-width;

/* Default Button Styling */
.btn {

	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	box-shadow:
		      0 1px           rgba(0,0,0,.3),
		inset 0 -3em 3em -3em rgba(0,0,0,.2);

	&:hover {
		box-shadow:
			      0 1px       rgba(0,0,0,.3),
			inset 0 0 3em 3em rgba(0,0,0,.2);
	}

	/* unstyle a button */
	&--unstyle, &--anchor {
		background: none;
		border: none;
		border-radius: 0;
		padding: 0;
		line-height: 1;
		text-shadow: none;
		box-shadow: none;
		color: $color-body;
		&:hover {
			box-shadow: none;
			color: $color-body;
		}
	}

	/* Disguise button as anchortext */
	&--anchor {
		@include anchortext;
	}
}

/* Standard Color Mixin */
@mixin btn-color( $color, $darken: 10% ) {
	background-color: $color;
	border-color: darken( $color, $darken );
}

/* Button Color Variations */
.btn {
	&--primary 	{ @include btn-color( $color-primary     ); }
	&--suppl 	{ @include btn-color( $color-suppl,   8% ); }
	&--success 	{ @include btn-color( $color-success, 6% ); }
	&--gray 	{ @include btn-color( $color-unstress    ); }
	&--unstress { @include btn-color( lighten( $color-unstress, 10% )      ); }
	&--dark 	{ @include btn-color( lighten( $color-body,     20% ), 30% ); }
	&--white, &--grayline {
		@include btn-color( #fff, 10% );
		text-shadow: none;
		box-shadow:
			      0 1px           rgba(0,0,0,.1),
			inset 0 -3em 3em -3em rgba(0,0,0,.1);
		&:hover {
			box-shadow:
				      0 1px       rgba(0,0,0,.1),
				inset 0 0 3em 3em rgba(0,0,0,.05);
		}
	}
	&--grayline { color: $color-unstress !important; }
	&--white	{ color: $color-body     !important; }
}

/**
 * Button Size Variations
 * [1] Add rem value support
 */
.btn {
	&--small {
		padding: px-to-rem($inuit-btn-padding--small - $inuit-btn-border-width)  px-to-rem(double($inuit-btn-padding--small) - $inuit-btn-border-width); /* [1] */
	}

	&--tiny {
		padding: 1px - $btn-border-width  quadruple($btn-padding--tiny) - $btn-border-width 1px - $btn-border-width;
	}

	// It is assumed that square buttons are for foundation icons
	&--square {
		padding: 0;
		width: 1.5em;
		height: 1.5em;
		font-size: 1.5em;
		line-height: 1em;
	}
}

/* Disabled State */
.btn[disabled] {
	opacity: .6;
	pointer-events: none;
	cursor: not-allowed;
	&:hover {
		box-shadow: none;
	}
}
