/*
 * Component: badge
\* =================================== */

$badge-padding:         halve($inuit-base-spacing-unit) !default;
$badge-padding--small:  halve($badge-padding) !default;
$badge-padding--tiny:  	quarter($badge-padding) !default;
$badge-border-width:	1px !default;
$badge-color:			$color-primary !default;

$enable-badge--small:	false !default;
$enable-badge--tiny:	false !default;


.badge {
	padding: $badge-padding - $badge-border-width  double($badge-padding) - $badge-border-width;
	color: $badge-color;
	// border-radius: 50px;
	// background-color: $color-suppl;
	border: $badge-border-width solid $badge-color;

	@if($inuit-btn-radius != 0) {
	    border-radius: $inuit-btn-radius;
	}
}

a.badge {
	&:hover,
	&:active,
	&:focus {
	    color: white;
	    background-color: $color-primary;
	}
}


@if ($enable-badge--small == true) {

    /**
     * Small badge.
     */

    .badge--small,
    %badge--small {
        padding: $badge-padding--small - $badge-border-width  double($badge-padding--small) - $badge-border-width;
    }

}


@if ($enable-badge--tiny == true) {

    /**
     * Tiny badge.
     */

    .badge--tiny,
    %badge--tiny {
        padding: $badge-padding--tiny - $badge-border-width  quadruple($badge-padding--tiny) - $badge-border-width;
    }

}

.badge--unstress {
	color: $color-unstress;
	border-color: $color-unstress;
}