/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

/**
 * Global .container div
 */
.container {
	width: 100%;
	position: relative;
	
	// give space to the footer
	padding-bottom: 260px;
}