/*------------------------------------*\
    #PANEL
\*------------------------------------*/

$panel-padding: halve($base-spacing-unit);

.panel {
	padding: halve($panel-padding) $panel-padding;
	padding: px-to-rem( halve($panel-padding) ) px-to-rem( $panel-padding );

	border: 1px solid $color-border;
	border-radius: $base-border-radius;
}

.panel--higher {
	padding: $panel-padding;
}
