/*
 * Component: badge
\* =================================== */

$badge-padding:         halve($inuit-base-spacing-unit);
$badge-padding--tiny:  	quarter($badge-padding);
$badge-border-width:	1px;


.badge {
	padding: $badge-padding - $badge-border-width  double($badge-padding) - $badge-border-width;
	color: $color-primary;
	border: 1px solid $color-primary;

	@if($inuit-btn-radius != 0) {
	    border-radius: $inuit-btn-radius;
	}
}

.badge--tiny {
	padding: 1px - $badge-border-width  quadruple($badge-padding--tiny) - $badge-border-width;
}

.badge--unstress {
	color: $color-unstress;
	border-color: $color-unstress;
}