/*------------------------------------*\
    #PANEL
\*------------------------------------*/

$panel-padding: halve($base-spacing-unit);

@mixin panel( $border-width: 1px, $border-color: $color-border, $shadow: true ) {
	background-color: $color-panel-bg;
	border: $border-width solid $border-color;
	@if($inuit-btn-radius != 0) {
	    border-radius: $inuit-btn-radius;
	}
	@if($shadow) {
		@include std-box-shadow;
	}
}
.panel {
	@include panel;
	padding: halve($panel-padding) $panel-padding;
	padding: px-to-rem( halve($panel-padding) ) px-to-rem( $panel-padding );
}

.panel--higher {
	padding: $panel-padding;
}