/*------------------------------------*\
    #BADGES
\*------------------------------------*/

.badge {
	display: inline-block;

	// background-color: $color-unstress;
	color: $color-unstress;
	border: 1px solid $color-unstress;

	border-radius: 50%;
	width: 1.5em;
	line-height: 1.4em;
	text-align: center;
}

/* Colors */
.badge {
	&--primary {
		color: $color-primary;
		border-color: $color-primary;
	}

	&--success {
		color: $color-success;
		border-color: $color-success;
	}
}
