/*------------------------------------*\
    #WRAPPERS
\*------------------------------------*/

/**
 * Standard Definitions
 * 1. do not break the owl by using "margin: 0 auto;"
 */

.wrapper {
    max-width: 1100px;
    margin-left:   auto; /* 1 */
    margin-right:  auto; /* 1 */
    padding-right: $spacing-unit--small;
    padding-left:  $spacing-unit--small;

    @include media-query(lap-and-up) {
        padding-right: $spacing-unit;
        padding-left:  $spacing-unit;
    }

}

/**
 * Variations
 */
.wrapper--paddingless {
    padding-right: 0;
    padding-left:  0;
}