/* Color Variabes */

$color-unstress: 		hsl( 0, 0, 67 );
$color-border: 			hsl( 0, 0, 85 );
$color-panel-bg: 		hsl( 0, 0, 97.5 );
$color-dark-bg: 		hsl( 0, 0, 20 );
$color-body: 			hsl( 0, 0, 13 );

$color-neutral:			hsl( 0, 0, 87 );
$color-primary: 		#4FA5B8;
$color-suppl: 			#F2A200;
$color-secondary: 		#e7e7e7;
// $alert-color: 		#f04124;
$color-success: 		#02944B;
// $warning-color: 		#f08a24;
// $info-color: 		#a0d3e8;