/* Color Variabes */

$color-unstress: 		#AAA;
$color-border: 			#CCC;
$color-panel-bg: 		#F5F5F5;
$color-panel-bg-hover: 	#f1f1f1;
$color-dark-bg: 		#333;
$color-body: 			#222;

$color-neutral:			#ddd;
$color-primary: 		#4FA5B8;
$color-suppl: 			#F2A200;
$color-secondary: 		#e7e7e7;
// $alert-color: 		#f04124;
$color-success: 		#02944B;
// $warning-color: 		#f08a24;
// $info-color: 		#a0d3e8;