/* Color Variabes */

$color-unstress: 		hsl( 0, 0, 67 );
$color-border: 			hsl( 0, 0, 85 );
$color-panel-bg: 		hsl( 0, 0, 97.5 );
$color-dark-bg: 		hsl( 0, 0, 20 );
$color-body: 			hsl( 0, 0, 13 );

$color-neutral:			hsl( 0, 0, 87 );
$color-primary: 		#4FA5B8;
$color-suppl: 			#F2A200;
$color-theme: 			#02944B;

$color-primary-light: 	lighten( $color-primary, 40% );

$color-secondary: 		#e7e7e7;
$color-alert:			#f04124;
$color-success: 		#02944B;
$color-error:			#C22D19;
// $color-warning: 		#f08a24;
// $color-info: 		#a0d3e8;

// $color-bg-primary:		darken($color-primary, 12%);
// $color-bg-suppl:		darken($color-suppl, 12%);
// $color-bg-theme:		darken($color-theme, 12%);
