$color-border: 			#e8e8e8;
$color-suppl: 			#F2A200;

$color-active: 			#008ec2;
$color-active-border: 	#006799;


/**
 * Post Type: Lesson & Quizz
 * Admin Column Modifications
 */
.column-taxonomy-tax-course,
.column-taxonomy-tax-unit {
	width: 20%;
}



/**
 * Format the Unit Title helper text
 * found on the edit page for courses
 */
.acf-unit-title-helper-text {
	display: block;
	color: $color-suppl;
	font-weight: normal;
	position: absolute;

	.dashicons {
		width: 16px;
		height: 16px;
		font-size: 16px;
	}
	
	// switch off required asterisk which acf adds autmatically
	& + .acf-required {
		display: none;
	}
}

/**
 * Hide unit_id
 */
.acf-course-unit-id {
	display: none;
}