/*!
 * Design by Lukas Hermann <lukas.hermann@joelmediatv.de>
 */

$base-font-size: 			16px;
$base-line-height:			24px;
@import "settings.colors";
@import "inuit-defaults/settings.defaults";
@import "inuit-responsive-settings/settings.responsive";
$base-spacing-unit:			$inuit-base-spacing-unit;

@import	"inuit-functions/tools.functions";
@import	"inuit-mixins/tools.mixins";
@import	"inuit-tools-widths/tools.widths";
@import	"inuit-responsive-tools/tools.responsive";
@import	"tools.aliases";
@import	"tools.mixins";
@import "tools.functions";

/**
 * Custom Login Styles
 */
body {
	font-size: $base-font-size;
}

#login {
	padding-top: 3%;
}

#login > h1{
	display: none;
}

.login-title__link {

	text-decoration: none;
	display: block;
	text-align: center;

	img {
		height: 150px;
		width: 150px;
	}

	h1 {
		@include inuit-font-size( $base-font-size * 2.5 );
		font-weight: 300;
		color: $color-body;
	}

}

@import	"objects.wrapper";
@import	"components.page-footer";
@import	"components.breadcrumbs";

@import	"utilities.text";
