/*!
 * Design by Lukas Hermann <lukas.hermann@joelmediatv.de>
 */

/**
 * To Do
 * - integrate icons into assets
 * - change header default background color
 * - check W3C compliance
 */

/**
 * CONTENTS
 * [work in progress]
 *
 * SETTINGS
 * Default..............inuitcss’ default settings.
 * Global...............Globally-available variables and settings/config.
 * Colors...............Manage our color palette in isolation.
 * Responsive...........Set up and name our breakpoints.
 *
 * TOOLS
 * Functions............inuitcss’ default functions.
 * Mixins...............inuitcss’ default mixins.
 * Mixins...............Our extension of inuitcss’ mixins.
 * Responsive...........Responsive tooling (requires responsive settings).
 * Aliases..............Aliases onto longer inuitcss variables and mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Reset................A pared back reset to remove margins.
 * Box-sizing...........Better default `box-sizing`.
 * Shared...............Sensibly and tersely share global commonalities.
 *
 * BASE
 * Page.................Page-level styles (HTML element).
 * Page.................Our extension of the inuitcss page module.
 * Headings.............Heading styles
 * Type.................Misc type styles
 * Links................Hyperlink styles
 * Lists................inuitcss list styles
 * Images...............inuitcss images
 * Quotes...............Styling for blockquotes, etc.
 *
 * OBJECTS
 * Wrappers.............Wrappers and page constraints.
 * Buttons..............inuitcss’ buttons module.
 * Layout...............inuitcss’ layout tool.
 * Box..................inuitcss’ box object.
 * Media................The media object.
 * Flag.................The flag object.
 * UI list..............inuitcss’ UI list.
 *
 * COMPONENTS
 * Page-head............Page header styles.
 * Bands................Full-width page bands.
 * Promo................Lead promo blocks on the home page.
 * Page-foot............Page footer styles.
 * Page-micro...........Page copyright styles.
 * Site-nav.............Site’s main nav area.
 * Buttons..............Extension of inuitcss’ buttons.
 * Boxes................Extension of inuitcss’ box object
 * Post.................Post-specific styles.
 * Pull-quote...........Large, featured quotes.
 * Carousel.............Pure CSS carousel component.
 * Iconic...............Iconic icon styles.
 * Sprites..............Image sprite styles.
 * Feature list.........Big blocky lists of feature items.
 * Annotate.............Pure CSS figure annotations.
 * Ads..................AdPacks overrides.
 * Client-list..........Amazing people I’ve had the pleasure of working with.
 *
 * TRUMPS
 * Clearfix.............I can’t believe we still need this in 2014.
 * Widths...............Simple width helper classes.
 * Widths-responsive....Polyfill for responsive width classes.
 * Spacing..............Micro-level spacing.
 * Show/hide............Helpers to show and side stuff.
 */




/*
 * ITCSS Stage 1: Settings
 * scss variables
 */
@import "settings.colors";
//@import "settings.foundation";

		$base-font-size: 			16px;
		$base-line-height:			24px;
		// $base-font-size: 			30px;
		// $base-line-height:			45px;
		$inuit-base-font-size: 		$base-font-size;
		$inuit-base-line-height:	$base-line-height;
		$mobile-font-size:			14px;
		$mobile-line-height:		21px;
@import "inuit-defaults/settings.defaults";
		$base-spacing-unit:			$inuit-base-spacing-unit;

@import "inuit-responsive-settings/settings.responsive";

		// Misc
		// there is no special file for this as of yet
		$title-frame-alpha:		0.4;
		$base-border-radius:	3px;

/*
 * ITCSS Stage 2: Tools
 * scss mixins and functions
 */
@import	"inuit-functions/tools.functions";
@import	"inuit-mixins/tools.mixins";
@import	"inuit-tools-widths/tools.widths";
@import	"inuit-responsive-tools/tools.responsive";
@import	"tools.aliases";
@import	"tools.mixins";
@import "tools.functions";

/*
 * ITCSS Stage 3: Generic
 * global selectors, lowest specificity
 * no cosmetics
 */
@import	"inuit-normalize/generic.normalize";
@import	"generic.reset";
@import	"generic.owl";
@import	"inuit-box-sizing/generic.box-sizing";

/*
 * ITCSS Stage 4: Base
 * type selectors, no .classes or #ids
 * no cosmetics
 */
@import	"inuit-page/base.page";
		html {
			@include media-query(palm) {
			    font-size: ($mobile-font-size / $base-font-size) * 1em;
			    line-height: $mobile-line-height / $mobile-font-size;
			}
		}

		$inuit-lede-size: 1.2;
@import "base.main";
@import	"inuit-paragraphs/base.paragraphs";
@import	"base.headings";
@import	"base.links";

/*
 * ITCSS Stage 5: Objects
 * OOCSS and Framework
 * no cometics
 */
		$inuit-enable-layout--center:   true;
		$inuit-enable-layout--rev:		true;
		$inuit-enable-layout--middle:	true;
		$inuit-enable-layout--auto:     true;
		$inuit-enable-layout--flush:	true;
@import "inuit-layout/objects.layout";
@import "objects.layout";

		$inuit-enable-btn--small:   true;
		$inuit-enable-btn--full:	true;
		$inuit-btn-radius: 			$base-border-radius;
		$inuit-btn-border-width:	1px;
		$inuit-btn-background:		$color-primary;
		$inuit-btn-color:			#fff;
		$inuit-btn-border-color:	darken( $inuit-btn-background, 10% );
@import "inuit-buttons/objects.buttons";
@import	"objects.buttons"; // Extend Inuit Buttons Object

		$enable-badge--small:		true;
		$enable-badge--tiny:		true;
@import	"objects.labels";

// 		$inuit-enable-table--rows:		true;
// 		$inuit-enable-table--compact:	true;
// @import	"inuit-tables/objects.tables";

@import	"inuit-list-inline/objects.list-inline";

		// $inuit-enable-list-ui--small:	true;
@import	"inuit-list-ui/objects.list-ui";
@import	"objects.wrapper";
@import	"objects.text";
// @import	"objects.whitespace";
@import	"objects.panel";
@import	"objects.hgroup";

		// Misc
		// there is no special file for this as of yet
		.shadow {
			&--drop {
				box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
			}
			&--receive {
				box-shadow: 0 6px 6px -6px rgba( 0, 0, 0, 1 ) inset;
			}
			&--strong {
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.65), 0 0 30px rgba( 0, 0, 0, 0.3 );
			}
			&--strong-text {
				text-shadow: 0 1px 3px rgba(0, 0, 0, 0.65), 0 0 30px #000;
			}
		}

		// .flex {
		// 	display: flex;
		// 	justify-content: space-between;
		// 	align-items: baseline;
		// 	&__item {
		// 		display: inline;
		// 		margin-top: 0;
		// 	}
		// }

/*
 * ITCSS Stage 6: Components
 * high specificity
 * the cosmetics
 */
@import	"components.top-bar";
@import	"components.container";
@import	"components.page-content";
@import	"components.flyout";
@import	"components.page-footer";

@import	"components.content-header";
@import	"components.content-body";

@import	"components.page-hero";
@import	"components.foundation-icons";
@import	"components.nodelist";
@import	"components.progress";
@import	"components.embed";
@import	"components.breadcrumbs";
@import	"components.teaser";
@import	"components.form";
@import	"components.user-menu";

		// This tag is not really self documenting, should be removed!
		.colorbg {
			background-color: $color-panel-bg;
			padding: $base-spacing-unit 0;
		}


/*
 * ITCSS Stage 7: Themes
 *
 * Namespace: t
 */
@import "themes.default";


/*
 * ITCSS Stage 8: Utilities
 * Highly specific functions that overwrite everything
 * !important
 *
 * Namespace: u
 * TODO: Some tags still use the namespace t, should be changed to u
 */
@import	"inuit-widths/trumps.widths";
@import	"inuit-widths-responsive/trumps.widths-responsive";
@import	"utilities.text";

		// Misc
		// there is no special file for this as of yet

		.u-pull {
			&--left { float: left; }
			&--right { float: right; }
		}

		// Owl spacing on individual elements
		.u-spacing {
			&--top {
				margin-top: px-to-em($base-spacing-unit) !important;
			}
			&--narrow {
				margin-top: px-to-em( quarter($base-spacing-unit) ) !important;
			}
			&--off {
				margin-top: 0 !important;
			}
		}

		.u-owl {

			* + * {
				margin-top: px-to-em($base-spacing-unit) !important;
			}

			&--narrow * + * {
				margin-top: px-to-em( halve($base-spacing-unit) ) !important;
			}
		}

		.t-margin-reset {
			&--top {
				margin-top: 0 !important;
			}
		}
		.u-screen-reader-text {
			@include hide-screen-reader-friendly;
		}

		// The Lesson Page Nodelist Hack
		// .lesson-page-hack {
		// 	@include media-query( desk ) {
		// 		margin-top: 0;
		// 		> .layout {
		// 			position: relative;
		// 			.layout__item:nth-child(1) {
		// 				position: absolute;
		// 				top: -( ($top-bar-height - 32px) / 2 + 32px );
		// 			}
		// 			.layout__item:nth-child(2) {
		// 				margin-top: 0;
		// 			}
		// 		}
		// 		.nodelist { margin: 0 10%; }
		// 	}
		// }

		// Wordpress Admin Bar
		#wpadminbar {
			margin-top: 0;
		}



