/*------------------------------------*\
    #TOP-BAR
\*------------------------------------*/
.top-bar {
	// height: whitespace-height( $inuit-heading-size-2 );
	// height: px-to-rem( whitespace-height( $inuit-heading-size-2 ) );
	height: 60px;
	height: px-to-rem(60px);
	padding: 0;
}
.top-bar__left,
.top-bar__right {
	//display: inline-block;
	//height: 100%;
	list-style: none;
}

.top-bar__right {
	float: right;
}

.top-bar__li,
.top-bar__title {
	float: left;
}

.top-bar__title,
.top-bar__li--btn,
.top-bar__li--avatar {
	padding: 0 0.8rem;
	//height: 100%;
}

.top-bar__li {
	border-left: 1px solid $border-color;
}

.top-bar__li--a {
	a {
		line-height: whitespace-height( $inuit-heading-size-2 );
		line-height: px-to-rem( whitespace-height( $inuit-heading-size-2 ) );
		padding: 0 0.8rem;
		border: none;
		color: $body-color;
		display: block;
		&:hover {
			color: $body-color;
			background-color: rgba( 0, 0, 0, .1 );
		}
	}
}

.top-bar__title {
	a {
		@include inuit-font-size( $inuit-heading-size-2 );
		border: none;
		color: $body-color;
	}
}

.top-bar__menu-icon {
	display: none;
}

.top-bar__btn,
.top-bar__avatar {
	display: block;
	position: relative;
	top: 50%;
	margin-top: -12px;
}
.top-bar__avatar {
	border: none;
	margin-top: -18px;
	img {
		border-radius: $default-border-radius;
	}
}


