/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/**
 * Extending InuitCSS btn object
 */
$btn-padding--tiny:  	quarter($inuit-btn-padding);
$btn-border-width:		$inuit-btn-border-width;

.btn {
	box-shadow: 0 -15px 30px rgba(0,0,0,.15) inset, 0 -1px 0px rgba(0,0,0,.5) inset;
	transition: background-color 0.3s;
	&:hover {
		box-shadow: 0 -15px 30px rgba(0,0,0,.3) inset, 0 1px 0px rgba(0,0,0,.5) inset;
	}
}

.btn--tiny {
	padding: 1px - $btn-border-width  quadruple($btn-padding--tiny) - $btn-border-width;
}