/* Color Variabes */
$suppl-color: 			#F2A200;
$unstress-color: 		#AAA;
$border-color: 			#CCC;
$panel-bg-color: 		#F5F5F5;
$panel-bg-color-hover: 	#f1f1f1;
$dark-bg-color: 		#333;
$body-color: 			#222;

$primary-color: #4FA5B8;
$secondary-color: #e7e7e7;
// $alert-color: #f04124;
$success-color: #02944B;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;